.ant-menu > .ant-menu-item-selected:hover{
    background-color: black !important;
    color:white !important
}

.ant-menu > .ant-menu-item:hover,
.ant-menu > .ant-menu-submenu:hover,
.ant-menu-submenu-title:hover
{
  color: white !important;
}

.ant-layout-sider-trigger{
    /* background-color: #333333 !important; */
    background-color: #252525 !important;
    margin-bottom: 10px;
    border-radius: 10px;
}

.ant-layout-sider{
    box-shadow: 0 0 6px black !important;
    border-radius: 10px !important;
    /* background-color:  #007254 !important; */
    /* background-color: #333333 !important; */
    background-color: #252525 !important;
    color:white !important;
}

.ant-menu {
    background-color: #252525 !important;
    /* background-color: #333333 !important; */
    /* background-color:  #007254 !important; */
    /* background-color: rgb(20, 20, 20) !important; */
    color: white;
}

.ant-layout-has-sider{
    box-shadow: 0 0 6px black !important;
    padding: 7px !important;
    max-height: 100vh !important;
}

.ant-menu-item-selected{
    background-color: white !important;
    color: black !important;
    font-weight: 600 !important;
}


.ant-menu-submenu-selected > .ant-menu-submenu-title{
    font-weight: bold !important;
    color: white !important;
}
