.site-layout .site-layout-background{
    background: white;
    box-shadow: 0 0 3px #ccc;
}

.ant-layout-sider{
    border-radius: 10px !important;
    background-color:  #007254 !important;
    color:white !important;
}

.ant-menu {
    background-color:  #007254 !important;
    color: white;
}

.ant-menu-item-active:hover{
    background-color: red;
}

.ant-layout-has-sider{
    padding: 10px !important;
    max-height: 100vh !important;
}

.ant-menu-item-selected{
    background-color: white !important;
    color: black !important;
    font-weight: 600 !important;
}

.ant-menu-submenu-selected > .ant-menu-submenu-title{
    font-weight: bold !important;
    color: white !important;
}
